@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

.grand-img {
    width: 480px;
    height: 850px;
    position: relative;
}

.img-1-2-3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu:nth-child(1) {
    top: 33px;
    left: 130px;
    position: absolute;
}

.menu:nth-child(2) {
    top: 43px;
    left: 130px;
    position: absolute;
}

.menu:nth-child(3) {
    top: 53px;
    left: 130px;
    position: absolute;
}

.left-words {

    color: white;
    background-color: red;
}

.span-left-words:nth-child(1) {
    position: absolute;
    top: 40px;
    left: 268px;
    text-decoration: none;
    color: white;
}

.span-left-words:nth-child(2) {
    position: absolute;
    top: 40px;
    left: 340px;
    text-decoration: none;
    color: white;
}

.span-left-words:nth-child(3) {
    position: absolute;
    top: 40px;
    left: 440px;
    text-decoration: none;
    color: white;
}

.magazine-name {
    position: absolute;
    top: 24px;
    left: 600px;
}

.language:nth-child(1) {
    position: absolute;
    top: 42px;
    left: 840px;
    color: white;
    text-decoration: none;
}

.language:nth-child(2) {
    position: absolute;
    top: 42px;
    left: 910px;
    color: white;
    text-decoration: none;
}

.laun-1 {
    position: absolute;
    top: 49px;
    left: 870px;
}

.laun-2 {
    position: absolute;
    top: 49px;
    left: 950px;
}

.item:nth-child(1) {
    position: absolute;
    top: 40px;
    left: 1040px;
}

.item:nth-child(2) {
    position: absolute;
    top: 40px;
    left: 1100px;
}

.item:nth-child(3) {
    position: absolute;
    top: 40px;
    left: 1160px;
}

.item:nth-child(4) {
    position: absolute;
    top: 40px;
    left: 1220px;
}

.new-colection {
    position: absolute;
    top: 393px;
    left: 500px;
    color: white;
    font-size: 35px;
}

.trait {
    position: absolute;
    top: 467px;
    left: 615px;
}

.news {
    position: absolute;
    top: 488px;
    left: 580px;
    color: white;
    text-decoration: none;
}

.laun-3 {
    position: absolute;
    top: 492px;
    left: 760px;
}

.kotalog {
    padding: 150px 0 0 150px;
}

.kotalog-word {
    font-size: 36px;
    padding-left: 15px;
}

.img-4-5-6-7 {
    margin-top: 50px;
    margin-left: 160px;
    display: flex;
    align-items: center;

    position: relative;
}

.for-img-4 {
    margin-left: 5px;
}

.for-img-5 {
    margin-left: 5px;
}

.for-img-6 {
    margin-left: 5px;
}

.for-img-7 {
    margin-left: 5px;
}
.other-clothers-1{
    position: absolute;
    left: 960px;
    top: 180px;
}
.other-clothers-2{
    position: absolute;
    left: 973px;
    top: 188px;
}

.opasity {
    background-color: #CEB29C;
    width: 250px;
    height: 40px;
    position: absolute;
    bottom: 4px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.clothes {
    text-decoration: none;
    color: white;
}

.news-2 {
    margin-top: 100px;
    margin-left: 450px;
}

.news-word {
    font-size: 36px;
}

.input-2 {
    width: 600px;
    height: 50px;
    border: 1px solid gray;
    color: #939393;
    margin-left: 400px;
    margin-top: 50px;
    padding-left: 250px;
}

.button {
    width: 600px;
    height: 50px;
    margin-left: 400px;
    margin-top: 20px;

    background-color: #E0BEA2;
    color: white;
    border: none;



}

.words-1 {
    color: #ADADAD;
    margin-top: 20px;
    margin-left: 440px;
}


.words-2 {
    color: #ADADAD;

    margin-left: 420px;
}

.help {
    margin-top: 100px;

    width: 100%;
    height: 160px;
    display: flex;
    
}

.help-div {
    width: 450px;
    height: 160px;
   
    margin-left: 150px;
    
}
.help-div:nth-child(1){
    margin-left: 170px;
    
}
.help-div:nth-child(2){
    margin-left: 120px;
    
    
}

.help-div-words:nth-child(1) {
    font-size: 20px;

}

.help-div-words:nth-child(2){
    margin-top: 20px;
}
.help-a-words{
    text-decoration: none;
    color: #ADADAD;
    font-size: 16px;
    

}

.help-div-words:nth-child(3){
    margin-top: 10px;
}
.help-div-words:nth-child(4){
    margin-top: 10px;
}
.help-div-words:nth-child(5){
    margin-top: 20px;
}
.help-div-words:nth-child(6){
    margin-top: 10px;
}
.help-div-problem{
    width: 700px;
    height: 160px;
    
    margin-left: 170px;
    
}
.internet{
    margin-top: 20px;
}
.help-a-words-1{
    text-decoration: none;
    color: #ADADAD;
    font-size: 16px;
    

}
.help-a-words-2{
    text-decoration: none;
    color: #ADADAD;
    font-size: 16px;
    

}
